.page-main-container[data-page="GamePage"] {
    width: 100%;
    height: 100%;

    .game-center-container {
        height: 100%;
        display: flex;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;

        //background-position: center;
        //background-size: cover;
        //background-repeat: no-repeat;

        background-color: #8fbe56;
    }

    .game-page-filler {
        display: flex;
        width: 35%;
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;
        z-index: 70;

        background-color: #669232;
        box-shadow: 0px 0px 8px #060606;

        &[data-type="left"] {
            align-items: flex-end;
        }

        &[data-type="right"] {
            align-items: flex-start;
        }

        .game-toolbar {
            z-index: 100;
        }
    }

    .game-forms-img {
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 15px;
    }

    .game-blur-bg {
        position: absolute;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        z-index: -20px;
        filter: blur(1.5rem);
        
        div {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.9;
        }
    }

    .game-page-logout-button {
        color: #fff;
        text-align: right;
        width: 60px;
        margin: 20px;
        margin-bottom: 0;
        cursor: pointer;
        z-index: 20;
    }

    .game-toolbar {
        width: 100%;
        height: 100%;
        padding: 20px;
        max-width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1, h2, h3 {
            color: #fff;
            margin-top: 0px;
        }

        .toolbar-item {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            height: ~"calc(100% / 5)";
            max-height: 175px;
            margin-bottom: 10px;
            overflow: hidden;

            &:first-of-type {
                margin-top: auto;
            }

            &:last-of-type {
                margin-bottom: auto;
            }

            > div {
                width: 100%;
                background-color: #3f3f3f;
                border-radius: 15px;
                border: 2px solid #fff;
                margin-left: 10px;
                margin-right: 10px;

                &:first-of-type, &:last-of-type {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }

            .toolbar-col-3 {
                width: 33.33%;
            }
        }

        .toolbar-item-small {
            max-height: 125px;
        }
    }

    .game-area-point-counter {
        display: flex;
        width: 100%;
        height: 100%;
        color: #fff;
        flex-direction: column;

        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .game-area-point-counter-value {
            height: 100%;
            font-size: 62px;
        }

        .game-area-point-counter-text {
            height: 40px;
        }
    }

    .game-form-item-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px 15px;

        .game-form-item {
            display: flex;
            min-width: 33.33%;
            height: 50%;
            color: #fff;

            .game-form-item-pattern {
                padding: 10px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .game-form-item-pattern-row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .game-form-item-pattern-item {
                        width: 8px;
                        height: 8px;
                        border: 1px solid #3f3f3f;

                        &[data-filled="true"] {
                            background-color: #fff;
                        }
                    }
                }
            }

            &[data-user-pattern="true"] {
                color: #8fbe56;

                .game-form-item-pattern-item[data-filled="true"] {
                    background-color: #8fbe56 !important;
                }
            }
        }
    }
    
    .game-container {
        position: relative;
        max-width: 900px;
        width: ~"calc(100% - 90px)";
        align-items: center;
        justify-content: center;
        z-index: 50;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 90;

        #game-area {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .gamer-tooltip-container {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            //transform: translate(30%, 30%);
            pointer-events: none;

            .gamer-block {
                width: 105px;
                //height: 170px;
                height: 125px;
                background-color: #3f3f3f;
                border-radius: 15px;
                border: 2px solid #fff;
            }
        }
    }
}