.component-container[data-component^="Modal"] {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    > div {
        min-width: 280px;
        max-width: 480px;
        width: ~"calc(100% - 40px)";
        max-height: ~"calc(100% - 100px)";
        min-height: 80px;
        margin-bottom: auto;
        margin-top: 60px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: -5px 5px 16px rgba(56, 56, 56, 0.7);

        > div {
            padding: 20px;
            border-bottom: 1px solid #e0e0e0;

            &:last-of-type {
                border-bottom: 0;
                text-align: right;

                button {
                    margin-right: 5px;
                }
            }
        }
    }
}